body{
    text-align: center
  }
  body{
    background-color: #ffa482
  }
  h1{
  font-family: "Trebuchet MS"
  }
  h1{
     font-size: 50px;
  }
  
  button.grid:hover{
    background-color: yellow
  }
  button.grid:hover{
    cursor:pointer
  }
  button.grid{
    background-color: #D2D2D2;
    color: black;
    border: 2px solid #ff7c4d;
    width: 180px;
    height: 100px;
    font-size: 25px;
    font-family: "Trebuchet MS"
  
  }